<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:content="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <content:component-scan base-package="com.suntr.springSample.**" />
    <aop:aspectj-autoproxy />

    <bean id="arithmetic" class="com.suntr.springSample.aop.ArithmeticImpl" />
    <bean id="arithmeticAspect" class="com.suntr.springSample.aop.ArithmeticAspect" />

    <aop:config>
        <aop:pointcut id="arithmeticPointcut" expression="execution(public Integer com.suntr.springSample.aop.ArithmeticImpl.*(Integer,Integer))" />
        <aop:aspect ref="arithmeticAspect" order="2" >
            <aop:around method="arroundArithmetic" pointcut-ref="arithmeticPointcut" />
        </aop:aspect>
    </aop:config>

</beans>